{% extends "base_generic.html" %}

{% load render_bundle from webpack_loader %}
{% load helper_tags %}

{% block title %}<title>Home | Local Library</title>{% endblock %}

{% block content %}
<div id="app"></div>

<h1>Local Library Home</h1>
<p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
<h2>Dynamic content</h2>
<p>The library has the following record counts:</p>
<ul>
  <li><strong>Books:</strong> {{ num_books }}</li>
  <li><strong>Copies:</strong> {{ num_instances }}</li>
  <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
  <li><strong>Authors:</strong> {{ num_authors }}</li>
</ul>
<ul>
  <li><strong>Fantasy books:</strong> {{ num_books__fantasy }}</li>
  <li><strong>Children's books:</strong> {{ num_books__children }}</li>
</ul>
<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

<script>
  window.component = '{{ component }}';
  window.props = {{ props | json }};
  window.reactRoot = document.getElementById('app');
</script>

{% render_bundle 'main' %}

{% endblock %}
