{% extends "base_generic.html" %}

{% load render_bundle from webpack_loader %}
{% load helper_tags %}

{% block title %}<title>{{ object.title }}</title>{% endblock %}

{% block sidebar %}
  <aside class="sidebar desktop-menu is-hidden-touch">
    <li class="menu-item"><a class="has-text-white" href="{% url 'race-list' %}">Races</a></li>
    <li class="menu-item"><a class="has-text-white" href="{% url 'page-detail' 'faq' %}">FAQ</a></li>
    <li class="menu-item"><a class="has-text-white" href="{% url 'page-detail' 'ask' %}">Ask</a></li>
    <li class="menu-item"><a class="has-text-white" href="{% url 'page-detail' 'quiz' %}">Quiz</a></li>
  </aside>
{% endblock %}

{% block content %}
<div id="app"></div>

<script>
  window.component = '{{ component }}';
  window.props = {{ props | json }};
  window.reactRoot = document.getElementById('app');
</script>

{% render_bundle 'main' %}

{% endblock %}
