[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
gunicorn = "*"
ipython = "*"
ipdb = "*"
pylint-django = "*"

[packages]
bleach = "*"
django = "==2.1.*"
"psycopg2-binary" = "*"
python-decouple = "*"
django-bakery = "*"
django-livereload-server = "*"
django-webpack-loader = "*"
"django-admin-sortable2" = "*"
django-ckeditor = "*"
requests = "*"
tqdm = "*"
django-colorfield = "*"
celery = "*"
redis = "*"
django-modeltranslation = {editable = true, git = "https://github.com/deschler/django-modeltranslation.git", ref = "0.13-beta1"}
"beautifulsoup4" = "*"
python-dateutil = "*"

[requires]
python_version = "3.6"
