[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[packages]
bleach = "*"
django = "==2.1.*"
"psycopg2-binary" = "*"
python-decouple = "*"
django-bakery = "*"
django-livereload-server = "*"
django-webpack-loader = "*"

[requires]
python_version = "3.7"
