.candidate-item {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  background-color: #3F3F4D;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.candidate-item__img {
  height: 65px;
  width: 65px;
  margin-right: 1rem;
  border-radius: 5px;
  object-fit: cover;
}

.candidate-item__meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.candidate-item__name {
  margin: 0;
  color: #55C1E8;
  text-transform: capitalize;
}
