// body {
//   color: #333;
//   font-family: "Helvetica Neue", Arial, sans-serif;
//   font-weight: 200;
// }

.example {
  padding: 0 25px;
}

label {
  display: block;
  margin: 5px 0;
}

.menu {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  // border: 1px solid #cccccc;
  // padding: 1rem;
  background: white;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.item {
  padding: 0.5rem 1rem;
  cursor: default;
}

.item-highlighted {
  color: white;
  background-color: #4095bf;
}

.item-header {
  background-color: #eeeeee;
  color: #454545;
  font-weight: bold;
}

.ward-lookup .input {
  padding: 1.5rem 1.5rem 1.5rem 1rem;
}

.ward-lookup .input::placeholder {
  color: white;
}

.text-input-wrapper {
  // border: 1px solid;
  // padding: 1px 6px 1px 1px;
  display: inline-block;
  position: relative;
  width: 100%;
}

.text-input-wrapper input {
  // border: none;
  // background: none;
  // outline: none;
  // padding: 0 0;
  // margin: 0 0;
  // font: inherit;
}

.text-input-wrapper span {
  cursor: pointer;
  color: gray;
  font-weight: bold;
  position: absolute;
  top: calc(50% - 0.6em);
  right: 0.5rem;
  // visibility: hidden;
}
