.issues-menu {
  position: sticky;
  background: #31313b;
  padding: 10px 0;
  top: 0;
}

.issues-menu .button,
.issues-menu .help-text {
  margin-right: 1rem;
}

.issues-menu .menu-arrow {
  cursor: pointer;
  color: white;
  padding: 5px;
}

.issue--heading {
  padding-top: 3.5rem;
}
