.issues-menu {
  position: sticky;
  background: #31313b;
  padding: 10px 0;
  top: 0;
  z-index: 3;
}

.issues-menu .button,
.issues-menu .help-text {
  margin-right: 1rem;
}

.issues-menu .menu-arrow {
  cursor: pointer;
  color: white;
  padding: 5px;
}

.title.issue__heading {
  padding-top: 3.5rem;
  margin-bottom: 1rem;
}

.issue__description {
  margin-bottom: 1.5rem;
}

.read-more-button {
  color: lightsteelblue;
  cursor: pointer;
  display: inline-block;
  margin-left: 0.5rem;
}

.read-more-button:hover {
  text-decoration: underline;
}
