{% extends "base_generic.html" %}

{% block title %}<title>Author: {{ author }} | Local Library</title>{% endblock %}

{% block content %}
<h1>Author: {{ author }}</h1>

<p class="text-muted">{{ author.date_of_birth}} - {% if author.date_of_death %}{{ author.date_of_death }}{% endif %}</p>

<div style="margin-left: 20px; margin-top: 20px;">
  <h4>Books</h4>

  {% for book in author.book_set.all %}
  <p><strong><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.bookinstance_set.count }})</strong></p>
  <p>{{ book.summary }}</p>
  {% endfor %}
</div>
{% endblock %}