@import '~Theme/styles/variables';

.button.language-toggle {
  color: $white !important;
  position: absolute;
  right: 4.5rem;
  top: 1rem;
  z-index: 9;

  &:hover {
    color: $grey-dark !important;
  }
}

.navbar + .section {
  padding-top: 4.5rem;
}

.back-button {
  background: transparent;
  border: none;
  color: $grey;
  display: none;
  transition: opacity 0.5s;

  &[disabled] {
    background: transparent;
    opacity: 0;
    pointer-events: none;
  }
}

.landing-page .columns {
  height: 100%;
}

.voter-stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 5rem 2rem;
}

.last-stage .voter-stage.is-mobile {
  height: 100vh;
}

.voter-stage.is-mobile {
  justify-content: center;
  padding: 1rem;
}

.voter-stage__image {
  height: 150px;
}

.voter-stage__cta {
  margin: 2rem 0;
  min-height: 100px;
}

.is-mobile .voter-stage__cta {
  min-height: auto;
}

.voter-stage__links .button {
  font-size: 1.3rem;
  min-width: 250px;
}

.voter-stage__links li + li {
  margin-top: 1rem;
}

.landing-page .voting-choices {
  display: flex !important;
  flex-direction: column;
  height: 100vh;
}

.voting-choices > .column {
  flex: 1;
}

.stage-questions {
  background-color: white;
}

@mixin button($primary, $secondary, $border: $primary, $invert-on-hover: true) {
  .button {
    background-color: $secondary;
    border-color: $border;
    color: $primary;
    transition: all 0.3s ease;

    @if $invert-on-hover {
      &:hover {
        background-color: $primary;
        border-color: $primary;
        color: $secondary;
      }
    }
  }
}

.stage-questions {
  background-color: $white;

  @include button($red, $white);
}

.stage-research {
  background-color: $dark;

  @include button($primary, $dark);
}

.stage-ready {
  background-color: $red;

  @include button($white, $red);
}

.page--landing {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  border: 1px solid $primary;

  @include button($white, $red, $red, false);
}

.voting-choices .voter-stage:hover {
  cursor: pointer;
}

.voter-stage__links > .button {
  margin: 0.5rem;
}

.header__wrapper {
  max-width: 600px;
}

.button.language-toggle {
  @extend .back-button;
  // color: $grey-dark;
  transition: border 0.3s, color 0.3s, opacity 0.3s;
}
