@import '~Theme/styles/variables';

$nav-height: 28px;
$nav-padding: 0.8rem;
$logo-width: 86px;
$tagline-width: 9rem;

.root {
  background: rgba(49, 49, 59, 1);
  padding: $nav-padding;
  height: calc(#{$nav-height} + 2 * #{$nav-padding});
  position: absolute;
  top: 0;
  width: 100%;
  z-index: auto;

  + :global(.section) {
    padding-top: 6rem;
  }
}

.logo {
  height: $nav-height;
  left: $nav-padding;
  position: absolute;
  transition: opacity 0.3s ease !important;
  z-index: 2;

  &:hover {
    opacity: 0.6;
  }

  > img {
    height: $nav-height;
    width: $logo-width;
  }
}

.tagline {
  color: white;
  font-family: 'League Spartan Bold', sans-serif;
  font-size: 0.75rem;
  height: $nav-height;
  left: calc(#{$nav-padding} + #{$logo-width} + #{$nav-padding});
  line-height: calc((#{$nav-padding} + #{$nav-height}) / 3);
  position: absolute;
  text-align: left;
  top: calc(#{$nav-padding} / 2);
  width: $tagline-width;

  // Desktop sizing
  @media (min-width: $desktop) {
    font-size: $size-4;
    line-height: $nav-height;
    left: $nav-padding;
    right: $nav-padding;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    top: unset;
  }
}

.menu {
  height: $nav-height;
  position: absolute;
  right: $nav-padding;

  :global {
    @import './SiteMenu.scss';
  }
}
