@import '~Theme/styles/variables';
@import '~Theme/styles/mixins';

.pageQuiz {
  :global(.page-heading) {
    display: none;
  }

  @include setBreadcrumbColors($dark-accent, $white);
}

.pageAsk {
  :global(.page-heading) {
    color: $dark-accent;
  }

  @include setBreadcrumbColors($dark-accent, $grey);
}

.pageFaq,
.pageEvents {
  composes: pageAsk;
}
