{% extends "base_generic.html" %}

{% load render_bundle from webpack_loader %}
{% load helper_tags %}

{% load i18n %}

{% block title %}
<title>{{meta.title}} | Chi.vote</title>
{% endblock %}

{% block extra_meta %}
<meta name="google-site-verification" content="c5Qwj51CUUW6zLs-Y85VmUuByqsDxr8QHSDBRQ1PgrA" />
<meta name="author" content="Chi.vote" />
<meta property="og:site_name" content="Chi.vote" />
<meta property="og:type" content="website" />
<meta property="twitter:card" content="summary_large_image" />
<!-- Site URL -->
<meta property="og:url" content="https://chi.vote{{ absolute_url }}" />
<link rel="canonical" href="https://chi.vote{{ absolute_url }}" />
<!-- Site title -->
<meta property="twitter:title" content="{{ meta.title }}" />
<meta property="og:title" content="{{ meta.title }}" />
<!-- Site description -->
<meta
  property="twitter:description"
  content="{{ meta.description }}"
/>
<meta
  property="og:description"
  content="{{ meta.description }}"
/>
<meta
  name="description"
  content="{{ meta.description }}"
/>
<!-- Share image -->
{% load static %}
<meta
  property="twitter:image"
  content="https://chi.vote{% static "" %}{% trans 'images/socialrunoff.jpg' %}"
/>
<meta property="twitter:image:alt" content="Chi.vote logo" />
<meta
  property="og:image"
  content="https://chi.vote{% static "" %}{% trans 'images/socialrunoff.jpg' %}"
/>
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="2000" />
<meta property="og:image:height" content="1000" />
<!-- Favicons -->
<link
  rel="icon"
  type="image/png"
  href="{% static 'images/favicon-32x32.png' %}"
  sizes="32x32"
/>
<link
  rel="icon"
  type="image/png"
  href="{% static 'images/favicon-16x16.png' %}"
  sizes="16x16"
/>
{% endblock %}

{% block content %}
<div id="app"></div>

<script>
  window.component = '{{ component }}';
  window.props = {{ props | json }};
  window.reactRoot = document.getElementById('app');
</script>

{% render_bundle 'main' %}

{% endblock %}
