<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Chi.vote</title>{% endblock %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% block extra_meta %}{% endblock %}

  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous"
  />

  <script async src="https://www.google-analytics.com/analytics.js"></script>
  <style>html { background: #3F3F4D; }</style>
  {% block extra_styles %}{% endblock %}
</head>

<body>
  {% block content %}{% endblock %}
</body>

</html>
