@import '~Assets/styles/variables';

$nav-height: 30px;
$nav-padding: 1rem;
$logo-width: 93px;
$tagline-width: 140px;

.navbar {
  background: rgba(49, 49, 59, 1);
  padding: $nav-padding;
  height: calc(#{$nav-height} + 2 * #{$nav-padding});
  position: absolute;
  top: 0;
  width: 100%;

  + .section {
    padding-top: 6rem;
  }

  &__logo {
    height: $nav-height;
    left: $nav-padding;
    position: absolute;
    transition: opacity 0.3s ease !important;
    z-index: 2;

    &:hover {
      opacity: 0.6;
    }

    > img {
      height: $nav-height;
      width: $logo-width;
    }
  }

  &__tagline {
    color: white;
    font-family: 'League Spartan Bold', sans-serif;
    font-size: $size-7;
    height: $nav-height;
    left: calc(#{$nav-padding} + #{$logo-width} + 1rem);
    position: absolute;
    text-align: left;
    width: $tagline-width;

    // Desktop sizing
    @media (min-width: 769px) {
      font-size: $size-4;
      left: $nav-padding;
      right: $nav-padding;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      text-align: center;
    }
  }

  &__menu {
    height: $nav-height;
    position: absolute;
    right: $nav-padding;

    @import './SiteMenu.scss';
  }
}
