@import '~Assets/styles/variables';

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul.bio-items {
  list-style: disc;
  padding-left: 1rem;
}

li.bio-item {
  margin-bottom: 0.5rem;
}

.candidate-view {
  padding: 1rem;

  &:not(.is-loading) {
    animation: fadein 2s;
  }

  &__headshot {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  &__name {
    color: $white;
    font-size: $size-3;
    margin: 1rem 0;
  }

  &__section {
    margin-bottom: 1rem;
  }

  &__footnote {
    color: $grey-light;
    font-size: $size-6;
  }
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  // background: $dark;
  // border: 1px solid transparent;
  // border-radius: 50%;
}

/* Color/shape of close button cross */
.bm-cross {
  // background: #bdc3c7;
  background: $white;
}
