$bg-dark: #31313b;
$white: white;

.footer {
  background-color: $bg-dark;
  color: $white;
  // padding: 4rem;

  .collective-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
      display: inline-block;
      flex: 0 0 auto;
      padding: 0.5rem 1rem;
    }

    .collective-logo {
      margin: 1rem auto;
      width: 100%;
      max-width: 15rem;
      opacity: 0.75;
      transition: opacity 0.3s;
      max-height: 4.5rem;
      height: auto;

      &:hover {
        opacity: 1;
      }
    }

    @media (min-width: 500px) {
      flex-direction: row;
    }
  }
}

.logo--chivote-coll {
  height: 50px;
  margin-bottom: 2rem;
}
