@import '~Assets/styles/variables';

.landing-page {
  // height: 800px;

  @media only screen and (max-width: 992px) {
    height: auto;
  }
}

.navbar + .section {
  padding-top: 4.5rem;
}

.back-button {
  background: transparent;
  border: none;
  color: gray;
  display: none;
  transition: opacity 0.5s;

  &[disabled] {
    background: transparent;
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: 992px) {
  .section.landing-page {
    padding-top: 0;
  }

  .navbar {
    background: transparent;
    pointer-events: none;
  }

  .navbar__logo {
    visibility: hidden;
  }

  .navbar__tagline {
    display: none;
  }

  .navbar > div:last-child {
    pointer-events: all;

    .bm-burger-bars {
      background: gray;
    }
  }

  .back-button {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 9;
  }

  // .navbar .bm-burger-bars {
  //   background: #cbcbce;
  // }
}

.landing-page .columns {
  height: 100%;
}

.voter-stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 5rem 3rem;
}

.last-stage .voter-stage.is-mobile {
  height: 100vh;
}

.voter-stage {
  padding: 5rem 2rem;
}

.voter-stage.is-mobile {
  justify-content: center;
  padding: 1rem;
}

.voter-stage__image {
  height: 150px;
}

.voter-stage__cta {
  margin: 2rem 0;
  min-height: 100px;
}

.is-mobile .voter-stage__cta {
  min-height: auto;
}

.voter-stage__links .button {
  font-size: 1.3rem;
  min-width: 250px;
}

.voter-stage__links li + li {
  margin-top: 1rem;
}

.landing-page .voting-choices {
  display: flex !important;
  flex-direction: column;
  height: 100vh;
}

.voting-choices > .column {
  flex: 1;
}

.stage-questions {
  background-color: white;
}

@mixin button($primary, $secondary) {
  a.button {
    background-color: $secondary;
    border-color: $primary;
    color: $primary;
    transition: all 0.3s ease;

    &:hover {
      background-color: $primary;
      border-color: $primary;
      color: $secondary;
    }
  }
}

.stage-questions {
  background-color: $white;

  @include button($red, $white);
}

.stage-research {
  background-color: $dark;

  @include button($primary, $dark);
}

.stage-ready {
  background-color: $red;

  @include button($white, $red);
}

.stage-ready .button {
  background-color: transparent;
  color: white;

  &:hover,
  &:focus {
    border-color: white;
  }
}

.page--landing {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #55c1e8;
  border: 1px solid #55c1e8;
}

.get-started {
  height: auto;
  background-color: #ce112d;
  border-color: #ce112d;
  border-radius: 19px;
  margin-bottom: 1rem;
  padding: 0.75rem 1.5rem;
}

.get-started:hover {
  color: white;
  border-color: #ce112d;
}

.voting-choices .voter-stage:hover {
  cursor: pointer;
}

.voter-stage__links > .button {
  margin: 0.5rem;
}

.header__wrapper {
  max-width: 600px;
}
