@import '~Assets/styles/variables';

.button.language-toggle {
  color: $white !important;
  position: absolute;
  right: 4.5rem;
  top: 1rem;
  z-index: 99;

  &:hover {
    color: $grey-dark !important;
  }
}
