@import '~Theme/styles/variables';

.footer {
  background-color: $dark;
  color: $white;

  .collective-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
      display: inline-block;
      flex: 0 0 auto;
      padding: 0.5rem 1rem;
    }

    .collective-logo {
      margin: 1rem auto;
      width: auto;
      max-width: 15rem;
      opacity: 0.75;
      max-height: 4.5rem;
      height: auto;

      &:hover {
        opacity: 1;
      }
    }

    @media (min-width: 500px) {
      flex-direction: row;
    }
  }
}

.logo--chivote-coll {
  height: 50px;
  margin-bottom: 2rem;
}

.section--bottom {
  color: $white;
  padding: 3rem 1.5rem;
}

.sign-up {
  background: $dark-accent;
}

.contact-us {
  background: mix($dark-accent, $dark);
}

.section__heading {
  font-size: $size-3;
  margin-bottom: 1rem;
  text-align: center;
}
