@import '~Theme/styles/variables';

$banner-height: 75px;

.select {
  border-radius: 4px;
  box-shadow: 0 0 0 0.125em fade-out($link-hover, 0.75);

  &::after {
    border-color: $link !important;
  }

  &:hover::after {
    border-color: $link-hover !important;
  }

  :global(select) {
    width: 100%;
  }

  :global(select:required:invalid) {
    color: gray;
  }

  :global(option) {
    color: $white;
  }

  :global(option[value=''][disabled]) {
    display: none;
  }
}

.banner {
  background: $dark;
  color: $white;
  height: $banner-height;
  margin-bottom: 0.75rem;
  position: sticky;
  top: 0;
  z-index: 1;

  // flex attributes
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}

.control {
  font-size: 0.9rem;
  margin: 0.5rem 0 0;

  &:last-child {
    margin-bottom: 0.5rem;
  }
}

.raceStatus {
  color: $white;
  letter-spacing: 0.05rem;
}

.resultsItem {
  padding-top: $banner-height;
  margin-top: -#{$banner-height};
  padding-bottom: 2rem;
}

@media (min-width: $tablet) {
  $banner-height: 55px;

  .select {
    // margin-left: auto;
  }

  .updated {
    margin-right: auto;
  }

  .banner {
    align-items: center;
    flex-direction: row;
    height: $banner-height;
  }

  .resultsItem {
    padding-top: $banner-height;
    margin-top: -#{$banner-height};
  }

  .control {
    margin-left: 1rem;

    &:first-child {
      margin-left: 0;
    }
  }
}
