@import '~Theme/styles/variables';

.select {
  margin-left: auto;

  :global(select:required:invalid) {
    color: gray;
  }

  :global(option) {
    color: $white;
  }

  :global(option[value=''][disabled]) {
    display: none;
  }
}

.banner {
  align-items: center;
  background: $dark;
  color: $white;
  position: sticky;
  top: 0;
  z-index: 1;
}
