@import '~Theme/styles/variables';

.info {
  color: $white;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}
