@import '~Theme/styles/variables';

.table {
  border-radius: 5px;
  font-family: $futura;
  margin-bottom: 0.5rem !important;
  position: relative;
  width: 100%;

  @media (max-width: $tablet) {
    // margin-left: -1.5rem;
    // margin-right: -1.5rem;
    max-width: unset;
    overflow-x: scroll;
    // width: calc(100% + 3rem);
  }

  :global {
    th,
    td {
      vertical-align: middle;
    }

    .amt {
      text-align: right;
    }
  }
}

.barContainer {
  position: relative;
  width: 50%;
}

$progress-value-background-color: $primary;

.barValue {
  border-radius: 0;

  &::-webkit-progress-value {
    background-color: $progress-value-background-color;
  }
  &::-moz-progress-bar {
    background-color: $progress-value-background-color;
  }
  &::-ms-fill {
    background-color: $progress-value-background-color;
    border: none;
  }
}
