@import '~Theme/styles/variables';

.winnerTag {
  color: $white;
  font-family: $futura, sans-serif;
  font-size: $size-7;
  font-weight: bold;
  flex-shrink: 0;
  margin: 0.5rem 0;
  position: relative;
  top: -2px;
}

.tagInner {
  border-radius: 5px;
  padding: 0.25rem;
}

.runoffTag {
  composes: winnerTag;
}

.runoffTagInner {
  composes: tagInner;
  background: $yellow;
  color: $dark-accent;
}

.tagInnerOpen {
  composes: tagInner;
  border: 3px solid $white;
}

.tagInnerClosed {
  composes: tagInner;
  background: $white;
  color: $dark-accent;
}
