@import '~Assets/styles/variables';

.issues-menu {
  position: sticky;
  background: #31313b;
  padding: 10px 0;
  top: 0;
  z-index: 3;
  max-width: calc(100vw - 4rem);
}

.issues-menu .button,
.issues-menu .help-text {
  margin-right: 1rem;
}

.issues-menu .menu-arrow {
  cursor: pointer;
  color: white;
  padding: 5px;
}

.title.issue__heading {
  padding-top: 3.5rem;
  margin-bottom: 1rem;
}

.issue__description {
  margin-bottom: 1.5rem;
}

.read-more-button {
  color: lightsteelblue;
  cursor: pointer;
  display: inline-block;
  margin-left: 0.5rem;
}

.read-more-button:hover {
  text-decoration: underline;
}

.toggle-feed {
  // justify-content: space-between !important;

  .button {
    transition: all 0.15s ease;
    width: 100%;
  }

  .button:hover {
    background: #4ea4c5;
    border-color: #4ea4c5;
    color: white;
  }

  .button[disabled] {
    background: #3b3b48;
    border-color: lightsteelblue;
    color: lightsteelblue;
  }

  .button > .icon {
    margin-left: calc(-0.375em - 1px) !important;
    margin-right: calc(-0.375em - 1px) !important;
  }

  .button__label {
    margin-left: 1.2rem;
    // padding-top: 4px;
  }

  .control {
    flex-basis: 30%;
    margin-right: 0.5rem;
  }
}

#the-candidates,
#the-articles,
#the-stances,
#the-events,
#the-finances {
  padding-top: 1rem;
}

.field.is-grouped > .control.is-expanded {
  flex-basis: 30%;
  width: 30%;
}

.is-candidates-active .is-candidates,
.is-articles-active .is-articles,
.is-stances-active .is-stances,
.is-events-active .is-events,
.is-finances-active .is-finances {
  background-color: #55c1e8;
  border-color: #55c1e8;
  color: white;
  cursor: default;
  pointer-events: none;
}

.the-candidates__help-text {
  color: $white;
  margin-bottom: 2rem;

  @media (min-width: $tablet) {
    margin-bottom: 1rem;
  }
}

#the-articles {
  h3 {
    color: $white;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .article-item {
    margin-bottom: 0;
  }
}

.stance__item {
  margin-bottom: 0;
}

.grid-sizer,
.grid-item {
  padding: 0.75rem;
  width: 100%;

  @media (min-width: $tablet) {
    width: 33%;
  }
}

#the-finances {
  .table-container {
    border-radius: 4px;
    background: $dark-accent;
    display: block;
    padding: 0.5rem 1.5rem 1rem;
  }

  th .button {
    text-decoration: none;
  }

  th.amt,
  td.amt {
    text-align: right;
  }

  td {
    color: $grey-light;
    transition: color 0.15s ease;
  }

  .table {
    background: transparent;
    color: $white;
    font-family: $futura;
  }

  th.amt > .col-sort {
    text-align: right;
  }

  tr:hover {
    td {
      color: $white;
    }
  }

  .col-sort {
    border: none;
    color: $grey-light;
    display: inline-block;
    font-size: $size-6;
    height: auto;
    padding-right: 0;
    padding-left: 0;
    text-align: left;
    transition: color 0.15s ease;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
      background: none;
      color: #4ea4c5;
    }

    &.is-selected {
      color: $blue;
    }

    &::after {
      color: currentColor;
      display: none;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      position: absolute;
      // bottom: -22px;
      right: -1em;
    }

    &[data-order='asc']::after {
      display: inline;
      content: '\f0d8';
    }

    &[data-order='desc']::after {
      display: inline;
      content: '\f0d7';
    }
  }

  td[data-name='candidate'] {
    font-weight: bold;

    a {
      color: currentColor;
      text-decoration: underline;
      text-decoration-color: $red;
      width: 100%;
    }

    a:hover {
      color: $blue;
    }
  }

  table[data-current-sort='candidate'] td[data-name='candidate'],
  table[data-current-sort='on-hand'] td[data-name='on-hand'],
  table[data-current-sort='total'] td[data-name='total'] {
    color: $white;
  }

  table[data-current-sort='candidate'] .col-sort[data-name='candidate'],
  table[data-current-sort='on-hand'] .col-sort[data-name='on-hand'],
  table[data-current-sort='total'] .col-sort[data-name='total'] {
    color: $blue;
  }

  @media (max-width: $tablet) {
    .table-container {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      max-width: unset;
      overflow-x: scroll;
      width: calc(100% + 3rem);
    }
  }
}
