.issues-menu {
  position: sticky;
  background: #31313b;
  padding: 10px 0;
  top: 0;
  z-index: 3;
  max-width: calc(100vw - 4rem);
}

.issues-menu .button,
.issues-menu .help-text {
  margin-right: 1rem;
}

.issues-menu .menu-arrow {
  cursor: pointer;
  color: white;
  padding: 5px;
}

.title.issue__heading {
  padding-top: 3.5rem;
  margin-bottom: 1rem;
}

.issue__description {
  margin-bottom: 1.5rem;
}

.read-more-button {
  color: lightsteelblue;
  cursor: pointer;
  display: inline-block;
  margin-left: 0.5rem;
}

.read-more-button:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .section {
    padding: 0;
  }
}

.toggle-feed {
  .button:hover {
    background: #4ea4c5;
    border-color: #4ea4c5;
    color: white;
  }

  .button[disabled] {
    background: #3b3b48;
    border-color: lightsteelblue;
    color: lightsteelblue;
  }

  .button__label {
    // color: white;
    margin-left: 0.5em;
    padding-top: 4px;
    // text-transform: uppercase;
  }
}

#the-candidates,
#the-newsfeed,
#the-stances {
  padding-top: 1rem;
}

.field.is-grouped > .control.is-expanded {
  flex-basis: 30%;
  width: 30%;
}

.is-candidates-active .is-candidates,
.is-articles-active .is-articles,
.is-stances-active .is-stances {
  background-color: #55c1e8;
  border-color: #55c1e8;
  color: white;
  cursor: default;
  pointer-events: none;
}
