* {
  font-family: 'League Spartan Bold', sans-serif;
}

article * {
  color: white;
}

p,
li {
  font-family: 'futura', sans-serif;
}

ul {
  list-style: disc;
  padding-left: 1em;
}

ul > li > ul {
  list-style: circle;
}

@-webkit-keyframes highlight {
  from {
    background: lightsteelblue;
  }
  to {
    background: transparent;
  }
}

@keyframes highlight {
  from {
    background: lightsteelblue;
  }
  to {
    background: transparent;
  }
}

#toc {
  display: none;

  .nav {
    list-style: none;
  }

  .nav-link {
    color: #dbdbdb;
    font-family: 'futura', sans-serif;
    // font-size: 1.2em;

    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    // color: #767676;
    // border-left: 1px solid #dbdbdb;
    &:hover {
      border-left: 1px solid #dbdbdb;
      padding-left: 19px;
    }
  }
}

@media screen and (max-width: 768px) {
  .page-faq p,
  .page-faq li {
    font-size: 0.9rem;
  }
  .page-faq h1 {
    font-size: 1.6rem;
  }
  .page-faq h3 {
    font-size: 1.2rem;
  }
}

.page-faq h3 {
  padding-top: 1rem;
  margin-top: 1rem;
  color: #555;

  &:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  &:target {
    -webkit-animation: highlight 1s ease;
    animation: highlight 1s ease;
  }

  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .page-faq #toc {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: calc(100vh - 2rem);
    // overflow-y: scroll;
  }
}

p > a[href] {
  color: #55c1e8 !important;
  font-family: 'futura', sans-serif;
  // font-weight: bold;
}
