@import '~Assets/styles/variables';
@import '~Assets/styles/mixins';

@keyframes highlight {
  from {
    color: $red;
  }
  to {
    color: currentColor;
  }
}

article {
  * {
    color: $dark;
  }

  p,
  li {
    font-family: $family-primary;
  }

  ul {
    list-style: disc;
    padding-left: 1em;
    margin-bottom: 1rem;

    ul {
      list-style: circle;
      margin-bottom: 0;
    }
  }

  a {
    color: $dark-accent;
    font-family: $family-primary;
    font-weight: bold;

    &:hover {
      color: $red;
    }
  }

  h3 {
    font-size: $size-4;
    padding-top: 1rem;

    &:first-child {
      padding-top: 0;
    }

    &:target {
      animation: highlight 1s ease;
    }
  }
}

#toc {
  display: none;
  font-size: 0;
  position: sticky;
  top: 1rem;

  @media screen and (min-width: $desktop) {
    display: block;
  }

  .nav {
    list-style: none;
  }

  .nav-link {
    color: $grey;
    font-family: $family-primary;

    display: block;
    padding: 4px 20px;
    font-size: $size-7;
    font-weight: 500;

    &:hover {
      border-left: 2px solid $red;
      color: $red;
      padding-left: 18px;
    }
  }
}
